@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base{
  .fontFamily{
    @apply font-[Montserrat] ;
  }

  .buttonBackground {
    @apply bg-blue-500 text-white hover:bg-blue-400 focus-visible:outline-blue-400;
  }
}

@layer utilities {
  .hover-nav-link{
    @apply hover:text-blue-500;
  }

  .callToAction{
    @apply text-blue-500;
  }
}